<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>
    <h2>Página Inicial</h2>

    <form action="/" method="post">
        <label for="info">Enviar uma informação:</label>
        <input type="text" placeholder="informação" name="query" id="info">
        <button>Enviar</button>
    </form>

    <!-- Exibe a informação enviada, se houver -->
    {% if user_input %}
    <p>Você enviou: {{ user_input }}</p>
    {% endif %}

</body>

</html>